:root {
  --color-green: #5cae5d;
  --color-canvas-white: #ffffff;
  --color-near-black: #131313;
  --color-dark-gray: #161616;
  --color-off-white: #f3f3f3;
  --color-light-gray: #c4c4c4;
  --color-rich-black: #000000;
  --color-gray: #7a7a7a;
  --color-dark-gray-1: #2d2a2a;
  --color-gray-1: #808080;
  --color-gray-2: #767676;
  --color-dark-gray-2: #3e3e3e;
  --surface-base-surface: #131313;
  --surface-1: #ffffff;
  --surface-2: #161616;
  --surface-3: #5cae5d;
  --font-text: FactorA;
  --font-size-text: 18px;
  --font-weight-text: 400;
  --line-height-text: normal;
  --letter-spacing-text: normal;
  --font-text-1: FactorA;
  --font-size-text-1: 16px;
  --font-weight-text-1: 400;
  --line-height-text-1: normal;
  --letter-spacing-text-1: normal;
  --font-link: FactorA;
  --font-size-link: 16px;
  --font-weight-link: 400;
  --line-height-link: normal;
  --letter-spacing-link: normal;
  --font-text-2: FactorA;
  --font-size-text-2: 13px;
  --font-weight-text-2: 400;
  --line-height-text-2: 14.3px;
  --letter-spacing-text-2: -0.2px;
  --font-body: FactorA;
  --font-size-body: 16px;
  --font-weight-body: 400;
  --line-height-body: normal;
  --letter-spacing-body: normal;
  --font-link-1: FactorA;
  --font-size-link-1: 18px;
  --font-weight-link-1: 400;
  --line-height-link-1: normal;
  --letter-spacing-link-1: normal;
  --font-link-2: FactorA;
  --font-size-link-2: 12px;
  --font-weight-link-2: 400;
  --line-height-link-2: normal;
  --letter-spacing-link-2: normal;
  --font-text-3: FactorA;
  --font-size-text-3: 14px;
  --font-weight-text-3: 700;
  --line-height-text-3: normal;
  --letter-spacing-text-3: normal;
  --font-text-4: FactorA;
  --font-size-text-4: 12px;
  --font-weight-text-4: 400;
  --line-height-text-4: normal;
  --letter-spacing-text-4: normal;
  --font-body-1: FactorA;
  --font-size-body-1: 18px;
  --font-weight-body-1: 400;
  --line-height-body-1: normal;
  --letter-spacing-body-1: normal;
  --font-text-5: FactorA;
  --font-size-text-5: 11px;
  --font-weight-text-5: 400;
  --line-height-text-5: normal;
  --letter-spacing-text-5: normal;
  --font-heading: FactorA;
  --font-size-heading: 15px;
  --font-weight-heading: 700;
  --line-height-heading: 16.65px;
  --letter-spacing-heading: normal;
  --space-padding-1: 0px 10px;
  --space-padding-2: 142px 0px 95px;
  --space-padding-3: 0px 10px 6px;
  --space-padding-4: 12px 20px;
  --space-padding-5: 1px 2px;
  --space-padding-6: 0px 0px 0px 13px;
  --radius-1: 10px;
  --radius-2: 4px;
  --radius-3: 30px;
  --shadow-1: rgba(92, 170, 83, 0.7) 0px 23px 16px -19px;
  --shadow-2: rgba(0, 0, 0, 0.25) 0px 0px 10px 0px;
  --gradient-1: linear-gradient(#5cae5d 0%, #428843 100%);
}
